@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400&display=swap');

* {
  font-family: "Encode Sans", sans-serif;
  color: #6bb0c6;
  scroll-behavior: smooth;
}

div.center {
  margin: 0;
  padding: 0;
  height: 90vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
div.center div.container {
  margin: 3em;
}

.round {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: .1em solid #6bb0c6;
  padding: 1em;
}