@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400&display=swap');

div.center {
  margin: 0;
  padding: 0;
  height: 90vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}
div.center div.container {
  margin: 3em;
}